{% extends "../layout.html" %}
<title>{% block title %} Relatório de Postos {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5">Relatório de Postos</h1>
{% endblock %}

<div></div>

{% block content %}
<div
  class="
    form-group
    w-25
    d-flex
    flex-column
    justify-content-center
    align-items-center
    container
  "
>
  <table class="table table-striped table-secondary">
    <tr>
      <th>Nome</th>
    </tr>
    {% for cidades in cidades %}
    <tr>
      <td><a href="{% url 'cidade' cidades.id %}">{{ cidades.nome }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
