{% extends "../layout.html" %}
<title>{% block title %} Relatório de Postos {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5 p-3">
  Preços ─ <strong class="text-warning">{{ postos.nome }}</strong>
</h1>
{% endblock %}

<div></div>

{% block content %}
<div
  class="
    form-group
    w-75
    d-flex
    flex-column
    justify-content-center
    align-items-center
    container
  "
>
  <table class="table table-striped table-secondary">
    <tr>
      <th>Combustível</th>
      <th>Data de Coleta</th>
      <th>Preço de Venda</th>
      <th>Posto</th>
    </tr>
    {% for precos in precos %}
    <tr>
      <td>{{ precos.tipo_combustivel }}</td>
      <td>{{ precos.data_coleta }}</td>
      <td>{{ precos.preco_venda }}</td>
      <td>{{ precos.posto }}</td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
