{% extends "../layout.html" %}
<title>{% block title %} Relatório de Postos {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5 p-3">
  Postos na cidade de <strong class="text-warning">{{ cidade.nome }}</strong>
</h1>
{% endblock %}

<div></div>

{% block content %}
<div
  class="
    form-group
    w-75
    d-flex
    flex-column
    justify-content-center
    align-items-center
    container
  "
>
  <table class="table table-striped table-secondary">
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Bairro</th>
      <th>Bandeira</th>
      <th>Razao Social</th>
      <th>CNPJ</th>
      <th>Cidade</th>
    </tr>
    {% for postos in postos %}
    <tr>
      <td>{{ postos.nome }}</td>
      <td>{{ postos.endereco }}</td>
      <td>{{ postos.bairro }}</td>
      <td>{{ postos.bandeira }}</td>
      <td>{{ postos.razao_social }}</td>
      <td>{{ postos.cnpj }}</td>
      <td>{{ postos.cidade }}</td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
