{% extends "../layout.html" %}
<title>{% block title %} Relatório de Postos {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5">Relatório de Postos</h1>
{% endblock %}

<div></div>

{% block content %} {% endblock %}
