{% extends "../layout.html" %}
<title>{% block title %} Postos {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5">Postos</h1>
{% endblock %}

<div></div>

{% block content %}
<section class="d-flex mt-4 justify-content-center align-center container">
  <table class="table table-striped table-secondary">
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Bairro</th>
      <th>Bandeira</th>
      <th>Razao Social</th>
      <th>CNPJ</th>
      <th>Cidade</th>
    </tr>
    {% for postos in postos %}
    <tr>
      <td>{{ postos.nome }}</td>
      <td>{{ postos.endereco }}</td>
      <td>{{ postos.bairro }}</td>
      <td>{{ postos.bandeira }}</td>
      <td>{{ postos.razao_social }}</td>
      <td>{{ postos.cnpj }}</td>
      <td>{{ postos.cidade }}</td>
      {% endfor %}
    </tr>
  </table>
</section>
{% endblock %}
