{% extends "../layout.html" %}
<title>{% block title %} Cidades {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5">Cidades</h1>
{% endblock %}

<div></div>

{% block content %}
<section class="d-flex mt-4 justify-content-center align-center container">
  <table class="table table-striped table-secondary">
    <tr>
      <th>Nome</th>
      <th>UF</th>
      <th>CEP</th>
    </tr>
    {% for cidades in cidades %}
    <tr>
      <td>{{ cidades.nome }}</td>
      <td>{{ cidades.uf }}</td>
      <td>{{ cidades.cep }}</td>
      {% endfor %}
    </tr>
  </table>
</section>
{% endblock %}
