<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>{% block title %} Postos {% endblock %}</title>
  </head>
  <style>
    .initial {
      font-family: "Nunito", sans-serif;
      background-image: url("https://unsplash.com/photos/0xxln0P7dUU/download?force=true&w=2400");
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
      max-height: 100vh;
      background-position: center;
      object-fit: cover;
    }
  </style>
  <body class="bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info p-3">
        <div
          class="
            navbar-nav
            container
            d-flex
            justify-content-center
            align-items-center
            text-dark
          "
        >
          {% block menu %}
          <a href="/" class="text-light">Home</a>
          <a href="/admin" class="text-light px-3">Admin</a>
          <a href="/noticias" class="text-light">Noticias</a>
          <a href="/cidades" class="text-light px-3">Cidades</a>
          <a href="/postos" class="text-light">Postos</a>
          <a href="/precos" class="text-light px-3">Preços</a>
          <a href="reports/postos" class="text-light">Reports Postos</a>
          <a href="/reports/precos" class="text-light px-3">Reports Preços</a>
          {% endblock %}
        </div>
      </nav>
    </header>
    <main>
      {% block name %} {% endblock %} {% block content %}
      <section
        class="
          w-100
          bg-dark
          min-vh-100
          d-flex
          justify-content-center
          align-content-center
          pt-5
          initial
        "
      >
        <h1 class="text-light d-block m-0 p-0">CIDADES</h1>
        <h1 class="text-light d-block m-0 p-0 px-5">POSTOS</h1>
        <h1 class="text-light d-block m-0 p-0">PREÇOS</h1>
      </section>
      {% endblock %}
    </main>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
</html>
