{% extends "layout.html" %}
<title>{% block title %} Noticias {% endblock %}</title>
<div>
  {% block content %}
  <div>
    {% for noticias in noticias %}
    <div class="text-light">
      <h1>Título: {{ noticias.titulo }}</h1>
      <strong>{{ noticias.data }}</strong>
      <a href="{% url 'news' noticias.id %}">Ver mais</a>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
