{% extends "layout.html" %}
<title>{% block title %} Noticia {% endblock %}</title>
<div>
  {% block content %}
  <div class="text-light">
    <h1>Título: {{ noticia.titulo }}</h1>
    <strong>{{ noticia.data }}</strong>
    <p>{{ noticia.texto }}</p>
    {%for Imagens in imagens%}
    <img src="{{ Imagens.foto }}" alt="{{ Imagens.legenda }}" />
    <p>{{ Imagens.legenda }}</p>
    {% endfor %}
    <a href="/noticias">Voltar</a>
  </div>
  {% endblock %}
</div>
