{% extends "../layout.html" %}
<title>{% block title %} Preços {% endblock %}</title>

<div></div>

{% block name %}
<h1 class="text-light text-center pt-5">Preços</h1>
{% endblock %}

<div></div>

{% block content %}
<section class="d-flex mt-4 justify-content-center align-center container">
  <table class="table table-striped table-secondary">
    <tr>
      <th>Combustível</th>
      <th>Data de Coleta</th>
      <th>Preço de Venda</th>
      <th>Posto</th>
    </tr>
    {% for precos in precos %}
    <tr>
      <td>{{ precos.tipo_combustivel }}</td>
      <td>{{ precos.data_coleta }}</td>
      <td>{{ precos.preco_venda }}</td>
      <td>{{ precos.posto }}</td>
      {% endfor %}
    </tr>
  </table>
</section>
{% endblock %}
